.card {
    background: var(--bg-card);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 16px rgba(0,0,0,0.7);
    transition: transform 0.3s, box-shadow 0.3s;
  
    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 24px rgba(0,0,0,0.8);
    }
  }
  
  .card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .card-content h2 {
    margin: 0 0 8px;
    font-size: 1.3rem;
    color: var(--accent-red);
  }
  
  .card-content .description {
    flex-grow: 1;
    font-size: 0.9rem;
    color: var(--text-muted);
    line-height: 1.4;
    margin-bottom: 12px;
  
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;      
    -webkit-box-orient: vertical;
  }
  
  .card-content .meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: var(--text-light);
  
    span:first-child {
      opacity: 0.8;
    }
  
    span:last-child {
      font-weight: bold;
      color: var(--accent-red);
    }
  }
  button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  